html *
        {
                font-size: 95%;
                font-family: Courier New;
        }

body
	{
	  background-image: url("Server-Audit.jpg");
	  background-size: 700px;
	  background-repeat: no-repeat;
	  background-position: top right;
	}
a.big
         {
                font-family: arial;
                font-size: 200%;
                color:#000000;
		border-bottom: 2px solid black;
         }
table.t_main
        {
                border:solid #999;
                border-collapse:collapse;
        }
table.p_main
        {
                border:solid #999;
                border-collapse:collapse;
        }
table.t_menu
        {
                border: 1px solid black;
                border-collapse:collapse;
                background:#BFBFBF;
        }
th.p_main
         {
                font-family: arial;
                font-size: 200%;
                color:#FFC7AF;
                background:#800000;
         }
th.main
        {
                font-family: arial;
                font-size: 200%;
                color:#9ef4fa;
                background:#0000ff;
        }
th.Dev_main
        {
                font-family: arial;
                font-size: 200%;
                color:#000000;
                background:#25c76a;
        }
th.Test_main
        {
                font-family: arial;
                font-size: 200%;
                color:#000000;
                background:#ffa50b;
        }
th.Prod_main
        {
                font-family: arial;
                font-size: 200%;
                color:#000000;
                background:#dd453d;
        }

th.second
        {
                font-family: arial;
                font-size: 90%;
                color:#9ef4fa;
                background:#0000ff;
        }
th.Dev_second
        {
                font-family: arial;
                font-size: 90%;
                color:#000000;
                background:#66f1a1;
        }
th.Test_second
        {
                font-family: arial;
                font-size: 90%;
                color:#000000;
                background:#ffc35a;
        }
th.Prod_second
        {
                font-family: arial;
                font-size: 90%;
                color:#000000;
                background:#dc7974;
        }
th.third
        {
                font-family: arial;
                font-size: 90%;
                color:#FFC7AF;
                background:#800000;
        }
td.main
        {
                text-align:center;
                background:#ffc;
                        font-family: Courier New;
                        font-size: 90%;
                border: 1px solid black;
        }
td.Dev
        {
                text-align:center;
                background:#d1ffe4;
                        font-family: Courier New;
                        font-size: 90%;
                border: 1px solid black;
        }
td.Test
        {
                text-align:center;
                background:#ffc;
                        font-family: Courier New;
                        font-size: 90%;
                border: 1px solid black;
        }
td.Prod
        {
                text-align:center;
                background:#dcbdbb;
                        font-family: Courier New;
                        font-size: 90%;
                border: 1px solid black;
        }

td.menu
        {
                text-align:center;
                background:#C8C8C8;
                        font-family: Courier New;
                        font-size: 90%;
                border: 1px solid black;
        }
td.menuFirst
        {
                text-align:center;
                color:#FFFFFF;
                background:#000000;
                        font-family: Lucida Console;
                        font-size: 100%;
                border: 1px solid Black;
         }
td.tableHead
         {
            text-align:center;
            color:#FFFFFF;
            background:#000000;
                    font-family: Lucida Console;
                    font-size: 100%;
            border: 1px solid Black;
          }

td.checkboxes
	{
          font-family:"helvetica";
	}

h1 
{
	font-size: 20px;
	font-weight: 300;
    	position: relative;
}
h1:before
{
	content:"";
	position: absolute;
	width:900px;
	height: 8px;
	bottom: 0;
	left: 0;
	top: 10px;
	border-bottom: 8px solid #57c4d0;
}

.title {
    border-bottom: 1px solid #dedede;
}

.checkbox.custom {
  float: left;
  margin: 0;
  padding: 10px;
  display: block;
/*  width: 100%; */
  margin-bottom: 10px;
/*  border: 1px solid black; */
}

input[type="checkbox"].custom {
  margin-left: 0;
  padding:0;
}

input[type=checkbox].css-checkbox {
  position:absolute;
  overflow:hidden;
  clip:rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0px;
  border:0;
}

input[type=checkbox].css-checkbox+label.css-label,
input[type=checkbox].css-checkbox+label.css-label-red,
input[type=checkbox].css-checkbox+label.css-label-yellow,
input[type=checkbox].css-checkbox+label.css-label-blue,
input[type=checkbox].css-checkbox+label.css-label-green,
input[type=checkbox].css-checkbox+label.css-label-purple{
  padding-left:25px;
  padding-right:1px;
  height:20px;
  width:100%;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position:0 0;
  font-size:13px;
  vertical-align:middle;
  cursor:pointer;
  opacity:1;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

input[type=checkbox].css-checkbox+label.css-label:hover,
input[type=checkbox].css-checkbox+label.css-label-red:hover,
input[type=checkbox].css-checkbox+label.css-label-yellow:hover,
input[type=checkbox].css-checkbox+label.css-label-blue:hover,
input[type=checkbox].css-checkbox+label.css-label-green:hover,
input[type=checkbox].css-checkbox+label.css-label-purple:hover{
  opacity:0.5;
}

input[type=checkbox].css-checkbox:checked+label.css-label,
input[type=checkbox].css-checkbox:checked+label.css-label-red,
input[type=checkbox].css-checkbox:checked+label.css-label-yellow,
input[type=checkbox].css-checkbox:checked+label.css-label-blue,
input[type=checkbox].css-checkbox:checked+label.css-label-green,
input[type=checkbox].css-checkbox:checked+label.css-label-purple{
  background-position:0 -21px;
}

.css-label {
  background:url(check-red-small.png);
}

.css-label-red {
  background-image:url(check-red-small.png);
}

.css-label-yellow {
  background:url(check-yellow-small.png);
}

.css-label-blue {
  background:url(check-blue-small.png);
}

.css-label-purple {
  background-image:url(check-purple-small.png);
}

.css-label-green {
  background-image:url(check-green-small.png);
}

